{% extends 'news/base.html' %}
{% load static %}
{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolingizni o'zgartirish uchun, quyidagi formani to'ldiring</p>
    {% if validlink %}
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">Parolni almashtirish</button></p>
        </form>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz</p>
    {% endif %}
{% endblock content %}